<script>
    gs.menu.load('/admin/page/index.html',"/admin/page/list.html");
</script>
<div class="row-fluid">
    <div class="list-top-bar span3 "><br /><br /></div>
    <div class="pagination pagination-small pagination-right span9 padding15" data-page-all="{{ page_all }}" data-page-now="{{ page_now }}"></div>
</div>

<table class="table table-hover data-list">
    <thead>
    <tr>
        <th style="width:30px">#</th>
        <th data-lang="title"></th>
        <th style="width:60px"><br /></th>
        <th style="width:100px"><br /></th>
        <th style="width:60px"><br /></th>
    </tr>
    </thead>
    <tbody class="sort">
    {% for item in results %}
    <tr id="node_{{ item.sort }}" data-key="{{ item.str_key }}" {% if item.in_trash_can > 0 %} class="record_already_delete" {% endif %}>
        <td>{{ item.row_no }}</td>
        <td>{{ item.title }}</td>
        <td><button type="button" class="btn" data-lang="edit" data-page-url="/admin/page/edit.html?key={{ item.str_key }}"></button></td>
        <td>
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-set-enable {% if item.is_enable == True %} active{% endif %}" data-lang="show" data-json-url="/admin/record/enable.json?key={{ item.str_key }}"></button>
                <button class="btn btn-set-disable {% if item.is_enable == False %} active{% endif %}" data-lang="hide" data-json-url="/admin/record/disable.json?key={{ item.str_key }}"></button>
            </div>
        </td>
        <td><button type="button" class="btn" data-lang="delete" data-json-url="/admin/record/delete.json?key={{ item.str_key }}"></button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>