<div class="list-top-bar span3 ">
    <button type="button" class="btn btn-danger" data-lang="新增產品分類" data-page-url="/admin/productcategory/create.html"></button>
</div>

<div class="pagination pagination-small pagination-right span9 padding15" data-page-all="{{ page_all }}" data-page-now="{{ page_now }}"></div>

<table class="table table-hover data-list" data-manager-dir="ProductCategory">
    <thead>
    <tr>
        <th style="width:30px">#</th>
        <th style="width:30px"><br /></th>
        <th style="width:30px"><br /></th>
        <th data-lang="title"></th>
        <th>會員折扣</th>
        <th>經銷折扣</th>
        <th style="width:60px"><br /></th>
        <th style="width:100px"><br /></th>
        <th style="width:60px"><br /></th>
    </tr>
    </thead>
    <tbody>
    {% for item in results %}
    <tr id="node_{{ item.sort|datetime_timesp }}" data-id="{{ item.id }}" class="data-row {% if item.is_delete == true %} record_already_delete{% endif %}">
        {% if item.level == 0 %}
            <td colspan="4">{{ item.category_name }}</td>
        {% endif %}
        {% if item.level == 1 %}
            <td style="background: #ddd;"><br /></td>
            <td colspan="3">{{ item.category_name }}</td>
        {% endif %}
        {% if item.level == 2 %}
            <td style="background: #ddd;"><br /></td>
            <td style="background: #ddd;"><br /></td>
            <td colspan="2">{{ item.category_name }}</td>
        {% endif %}
        {% if item.level == 3 %}
            <td style="background: #ddd;"><br /></td>
            <td style="background: #ddd;"><br /></td>
            <td style="background: #ddd;"><br /></td>
            <td>{{ item.category_name }}</td>
        {% endif %}
        {% if item.level > 0 %}
        <td><button type="button" class="btn btn-edit-page" data-lang="edit"></button></td>
        <td>
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-set-enable {% if item.is_enable == true %} active{% endif %}" data-lang="enable"></button>
                <button class="btn btn-set-disable {% if item.is_enable == false %} active{% endif %}" data-lang="disable"></button>
            </div>
        </td>
        <td><br /></td>
        <td><br /></td>
        <td><button type="button" class="btn btn-delete" data-lang="delete"></button></td>
        {% else %}
        <td><br /></td>
        <td><br /></td>
        <td><button type="button" class="btn btn-edit-page" data-lang="edit"></button></td>
        <td><br /></td>
        <td><br /></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>