<h1 class="page-title">檢視熱銷專案</h1>

<div class="list-top-bar span3 ">
    <button type="button" class="btn btn-danger" data-lang="新增熱銷專案" data-page-url="/admin/pastcase/create.html"></button>
</div>

<div class="pagination pagination-small pagination-right span9 padding15" data-page-all="{{ page_all }}" data-page-now="{{ page_now }}"></div>

<table class="table table-hover data-list" data-manager-dir="PastCase">
    <thead>
    <tr>
        <th style="width:35px"><br /></th>
        <th style="width:30px">#</th>
        <th data-lang="title"></th>
        <th style="width:60px"><br /></th>
        <th style="width:100px"><br /></th>
        <th style="width:60px"><br /></th>
    </tr>
    </thead>
    <tbody>
    {% for item in results %}
    <tr id="node_{{ item.sort|datetime_timesp }}" data-id="{{ item.id }}" class="data-row {% if item.is_delete == true %} record_already_delete{% endif %}">
        <th style="width:35px;"><div style="width:30px;height: 30px;border: solid 1px #ccc;"><img src="{{ item.image }}" class="scale" /></div></th>
        <td>{{ item.row_id }}</td>
        <td>{{ item.case_name }}</td>
        <td><button type="button" class="btn btn-edit-page" data-lang="edit"></button></td>
        <td>
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-set-enable {% if item.is_enable == true %} active{% endif %}" data-lang="enable"></button>
                <button class="btn btn-set-disable {% if item.is_enable == false %} active{% endif %}" data-lang="disable"></button>
            </div>
        </td>
        <td><button type="button" class="btn btn-delete" data-lang="delete"></button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>