<h3 class="page-title">歡迎</h3>
<div class="row-fluid">
    <a href="https://www.google.com/analytics/web/?hl=zh-TW&pli=1#realtime/rt-overview/a42426535w72177720p74474865/" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/analytics.png"><br />
            <br />流量分析
        </div>
    </a>

    <a href="https://www.google.com/a/cpanel/yooliang.com" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/apps.png"><br />
            <br />Google Apps
        </div>
    </a>


    <a href="http://mail.yooliang.com/" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/gmail.png"><br />
            <br />郵件管理
        </div>
    </a>

    <a href="https://www.google.com/webmasters/tools/dashboard?hl=zh_TW&siteUrl=http%3A%2F%2Fwww.yooliang.com%2F" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/webmasters.png"><br />
            <br />網站管理員工具
        </div>
    </a>

    <a href="https://code.google.com/apis/console/b/0/#project:867443095014:sql:instance:yooliang-com:yooliang-com" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/SQL.png"><br />
            <br />資料庫維護
        </div>
    </a>

    <a href="https://appengine.google.com/" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/gae.png"><br />
            <br />Google App Engine
        </div>
    </a>

    <a href="https://dcc.securepaynet.net/?prog_id=412956&domain=yooliang.com&user=65729125" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/dns.png"><br />
            <br />網域名稱維護
        </div>
    </a>

    <a href="ftp://ftp.yooliang.com/" target="_blank">
        <div class="span2 linkbox">
            <img src="/application/backend/template___/img/ftp.png"><br />
            <br />Ftp
        </div>
    </a>



</div>