{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1 class="title_contact">聯絡我們</h1>
</div><!--top_抬頭區end-->
<div class="container">
    <div class="c_contact">

        <br/>

        <div class="contact_info">
            <div class="contact_l">
                <div class="contact_title">聯絡資料</div>
                {{ "com_address"|websetting }}
                <br/>
                <br/>
                電話: {{ "com_tel"|websetting }}<br/>
                信箱: {{ "com_email"|websetting }} <br/>
                網址: {{ "com_web"|websetting }}<br/><br/><br/>
                <span style="display: none;" class="com_address">{{ "com_address"|websetting }}</span>
                <span style="display: none;" class="com_tel">{{ "com_tel"|websetting }}</span>
                <div id="map-canvas" class="map-canvas-contact" style="width: 225px; height: 420px;"></div>
            </div>
            <div id="info_done" style="padding: 100px; line-height: 300px; display: none;"></div>
            <div class="contact_r">
                <div class="contact_title">線上評估</div>
                <table style="width:100%">
                    <tr>
                        <td style="width:20%; text-align: center;" class="step_done">
                            <span class="step_title">Step 1 </span><br />
                            <span class="step_info">感興趣的套案</span>
                        </td>
                        <td style="width:20%; text-align: center;" class="step_current">
                            <span class="step_title">Step 2 </span><br />
                            <span class="step_info">套案所需資料</span>
                        </td>
                        <td style="width:20%; text-align: center;">
                            <span class="step_title">Step 3 </span><br />
                            <span class="step_info">需求單</span>
                        </td>
                        <td style="width:20%; text-align: center;">
                            <span class="step_title">Step 4 </span><br />
                            <span class="step_info">聯絡資料</span>
                        </td>
                        <td style="width:20%; text-align: center;">
                            <span class="step_title">Step 5 </span><br />
                            <span class="step_info">完成</span>
                        </td>
                    </tr>
                </table>

                <br />
                <br />
                <br />
                <form>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th colspan="3" style="color: #3399ff; text-align: left;">請填寫套案所需的相關資料 (Green Power(Energy)-獨立型PV系統)</th>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align: right; padding-right: 10px;">　可用面積</td>
                        <td><input name="" type="text" style="width:200px; padding: 3px; border-radius: 3px; border: solid 1px #aaa;"></td>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align: right; padding-right: 10px;">　使用電器</td>
                        <td><input name="" type="text" style="width:200px; padding: 3px; border-radius: 3px; border: solid 1px #aaa;"></td>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align: right; padding-right: 10px;">　消耗功率</td>
                        <td><input name="" type="text" style="width:200px; padding: 3px; border-radius: 3px; border: solid 1px #aaa;"></td>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align: right; padding-right: 10px;">　預計使用時間</td>
                        <td><input name="" type="text" style="width:200px; padding: 3px; border-radius: 3px; border: solid 1px #aaa;"></td>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align: right; padding-right: 10px;"><br /></td>
                        <td><br /></td>
                        <td style="width:200px; text-align: right;">
                            <button type="button" name="" value="" id="contact_button_prev" class="step_button">上一步</button>
                            <button type="button" name="" value="" id="contact_button_next" class="step_button">下一步</button>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            <div class="clean"></div>
        </div>
    </div>
</div>

{% endblock %}