{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1 class="title_contact">聯絡我們</h1>
</div><!--top_抬頭區end-->
<div class="container">
    <div class="c_contact">

        <br/>

        <div class="contact_info">
            <div class="contact_l">
                <div class="contact_title">聯絡資料</div>
                {{ "com_address"|websetting }}
                <br/>
                <br/>
                電話: {{ "com_tel"|websetting }}<br/>
                信箱: {{ "com_email"|websetting }} <br/>
                網址: {{ "com_web"|websetting }}<br/><br/><br/>
                <div id="map-canvas" style="width: 225px; height: 420px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
                <script>
                    var map;
                    var TILE_SIZE = 250;
                    var chicago = new google.maps.LatLng(22.995948,120.219483);

                    function bound(value, opt_min, opt_max) {
                      if (opt_min != null) value = Math.max(value, opt_min);
                      if (opt_max != null) value = Math.min(value, opt_max);
                      return value;
                    }

                    function degreesToRadians(deg) {
                      return deg * (Math.PI / 180);
                    }

                    function radiansToDegrees(rad) {
                      return rad / (Math.PI / 180);
                    }

                    /** @constructor */
                    function MercatorProjection() {
                      this.pixelOrigin_ = new google.maps.Point(TILE_SIZE / 2,
                          TILE_SIZE / 2);
                      this.pixelsPerLonDegree_ = TILE_SIZE / 360;
                      this.pixelsPerLonRadian_ = TILE_SIZE / (2 * Math.PI);
                    }

                    MercatorProjection.prototype.fromLatLngToPoint = function(latLng,
                        opt_point) {
                      var me = this;
                      var point = opt_point || new google.maps.Point(0, 0);
                      var origin = me.pixelOrigin_;

                      point.x = origin.x + latLng.lng() * me.pixelsPerLonDegree_;

                      // Truncating to 0.9999 effectively limits latitude to 89.189. This is
                      // about a third of a tile past the edge of the world tile.
                      var siny = bound(Math.sin(degreesToRadians(latLng.lat())), -0.9999,
                          0.9999);
                      point.y = origin.y + 0.5 * Math.log((1 + siny) / (1 - siny)) *
                          -me.pixelsPerLonRadian_;
                      return point;
                    };

                    MercatorProjection.prototype.fromPointToLatLng = function(point) {
                      var me = this;
                      var origin = me.pixelOrigin_;
                      var lng = (point.x - origin.x) / me.pixelsPerLonDegree_;
                      var latRadians = (point.y - origin.y) / -me.pixelsPerLonRadian_;
                      var lat = radiansToDegrees(2 * Math.atan(Math.exp(latRadians)) -
                          Math.PI / 2);
                      return new google.maps.LatLng(lat, lng);
                    };

                    function createInfoWindowContent() {
                      var numTiles = 1 << map.getZoom();
                      var projection = new MercatorProjection();
                      var worldCoordinate = projection.fromLatLngToPoint(chicago);
                      var pixelCoordinate = new google.maps.Point(
                          worldCoordinate.x * numTiles,
                          worldCoordinate.y * numTiles);
                      var tileCoordinate = new google.maps.Point(
                          Math.floor(pixelCoordinate.x / TILE_SIZE),
                          Math.floor(pixelCoordinate.y / TILE_SIZE));

                      return [
                        '牧陽能控有限公司',
                        '{{ "com_address"|websetting }}',
                        '{{ "com_tel"|websetting }}',
                      ].join('<br>');
                    }

                    function initialize() {
                      var mapOptions = {
                        zoom: 14,
                        center: chicago,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                      };

                      map = new google.maps.Map(document.getElementById('map-canvas'),
                          mapOptions);

                      var coordInfoWindow = new google.maps.InfoWindow();
                      coordInfoWindow.setContent(createInfoWindowContent());
                      coordInfoWindow.setPosition(chicago);
                      coordInfoWindow.open(map);

                      google.maps.event.addListener(map, 'zoom_changed', function() {
                        coordInfoWindow.setContent(createInfoWindowContent());
                        coordInfoWindow.open(map);
                      });

                    }
                    google.maps.event.addDomListener(window, 'load', initialize);
                    $(function(){
                        $("#button_prev").click(function(){
                            window.history.back();
                        });
                        $("#button_next").click(function(){
                            window.location.href = "contact_step_5.html";
                        });
                    });
                </script>

            </div>
            <div id="info_done" style="padding: 100px; line-height: 300px; display: none;"></div>
            <div class="contact_r">
                <div class="contact_title">線上評估</div>
                <table style="width:100%">
                    <tr>
                        <td style="width:20%; text-align: center;" class="step_done">
                            <span class="step_title">Step 1 </span><br />
                            <span class="step_info">感興趣的套案</span>
                        </td>
                        <td style="width:20%; text-align: center;" class="step_done">
                            <span class="step_title">Step 2 </span><br />
                            <span class="step_info">套案所需資料</span>
                        </td>
                        <td style="width:20%; text-align: center;" class="step_done">
                            <span class="step_title">Step 3 </span><br />
                            <span class="step_info">需求單</span>
                        </td>
                        <td style="width:20%; text-align: center;" class="step_done">
                            <span class="step_title">Step 4 </span><br />
                            <span class="step_info">聯絡資料</span>
                        </td>
                        <td style="width:20%; text-align: center;" class="step_current">
                            <span class="step_title">Step 5 </span><br />
                            <span class="step_info">完成</span>
                        </td>
                    </tr>
                </table>

                <br />
                <br />
                <br />

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th colspan="3" style="color: #3399ff; text-align: left;">完成</th>
                    </tr>
                    <tr>
                        <td style="width:100px; padding-right: 10px;">
                            {{ 'contact_step_5'|webpage }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clean"></div>
        </div>
    </div>
</div>

{% endblock %}