{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1 class="title_pro">會員中心 > 會員資料<a id="but_logout" href="#" style="float: right;" data-action="http://www.greenshepherd.com.tw/logout.json">【登出】</a></h1>
</div>

<div class="container">
    <div class="leftpage">
        <div class="leftmenu">
            <div class="arrowsidemenu">
                {%for item in menu_list %}
                <div class="menuheaders"><a href="{{ item.link }}" title="{{ item.category_name }}">{{ item.category_name }}</a></div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="rightpage">
<script src="js/jquery.jSelectDate.js"></script>
<script src="js/jquery.twzipcode-1.6.0.min.js"></script>

<form id="info" action="{{ 'info.json'|url }}">
<div class="commBox">
    {% if current_user.is_custom_account == 0 %}
    <div><img src="images/infotitle02.gif" alt=""/></div>
    <table cellpadding="0" cellspacing="0" border="0" width="737" class="gbForm">
        <tr>
            <th style="width:125px;">會員帳號</th>
            <td><input type="text" name="user_account" value='{{ current_user.user_account }}' class="input02 w200"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" class="inputBtn" value="檢查帳號"/>
                <span id="info_user_account" class="error">&nbsp;*&nbsp;初次設定請填寫會員帳號，設定完成後無法更改</span>
            </td>
        </tr>
    </table>
    {% else %}
    <div class="welcomeText">親愛的 <span>{{ current_user.user_name }} ({{ current_user.user_account }})</span> 會員，您可以修改以下基本資料。</div>
    {% endif %}
    <div id="info_done" style="padding: 10px; display: none;"></div>
    <div><img src="images/infotitle03.gif" alt=""/></div>
    <table cellpadding="0" cellspacing="0" border="0" width="737" class="gbForm">
        <tr>
            <th style="width:125px;">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</th>
            <td><input type="text" name="user_name" value='{{ current_user.user_name }}' class="input02 w200"/></td>
            <th style="width:125px;">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</th>
            <td>
                <input id="tDate" name="birthday" type="text" value="{{ current_user.birthday }}"/>
            </td>
        </tr>
        <tr>
            <th>電&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;話</th>
            <td><input type="text" name="telephone" value='{{ current_user.telephone }}' class="input02 w200"/></td>
            <th>手機號碼</th>
            <td><input type="text" name="mobile" value='{{ current_user.mobile }}' class="input02 w200"/></td>
        </tr>
        <tr>
            <th>聯絡地址</th>
            <td colspan="3">
                <div id="twzipcode">
                    <div data-role="zipcode" data-style="zipcode" style="float: left; display: none;"></div>
                    <div data-role="county" data-style="county" style="float: left;"></div>
                    <div data-role="district" data-style="district" style="float: left;"></div>
                </div>&nbsp;&nbsp;
                <input type="text" name="address_detail" value="{{ current_user.address_detail }}" class="input02 w375" />
        </tr>
        <tr>
            <th>電子信箱</th>
            <td colspan="3"><input name="email" type="text" value='{{ current_user.email }}' class="input02 w575"/></td>
        </tr>
        <tr style="display: none;">
            <th>備&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;註</th>
            <td colspan="3"><textarea class="input03 w575" rows="8">{{ current_user.remark }}</textarea></td>
        </tr>
    </table>

    <div class="btn mT30" align="center">
        <a id="but_info_send" title=""><img src="images/submit_out.gif" alt="" class="img_change"/></a>
    </div>
</div>
</form>
<script type="text/javascript">
    var zipcode = '{{ current_user.address_zip }}';
    $(function(){
        $("#tDate").jSelectDate({
            yearBeign: 1960,
            disabled: false
        });
        if (zipcode != '' && zipcode != 'None'){
            zip = parseInt(zipcode);
            $('#twzipcode').twzipcode({
                zipcodeSel: zip,
                countyName: 'address_county',
                districtName: 'address_area',
                zipcodeName: 'address_zip'
            });
        }else{
            $('#twzipcode').twzipcode({
                countyName: 'address_county',
                districtName: 'address_area',
                zipcodeName: 'address_zip'
            });
        }
        $(".menu_one").each(function(){
            if ($("a", this).attr("href").indexOf("info") > 0){
                $("a", this).addClass("active");
            }
        });
    });
</script>
    </div>
<div class="clean"></div>
</div>
{% endblock %}