{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1 class="title_customer">客戶專區</h1>
</div><!--top_抬頭區end-->

<div class="container">
    <div class="c_main">
        <div class="login_l">
            {{ 'member_login'|webpage }}
        </div>
        <div class="login_r">
            <form id="user_login">
                <div class="login_box">
                    <label for="user_id">帳號</label><br/>
                    <input type="text" id="user_id" name="id" class="login_box_text"/>
                    <label for="user_pw">密碼<br/></label>
                    <input type="password" id="user_pw" name="pw" class="login_box_text"/>
                    <span class="back">
                        <a id="login_but" style="text-align: center" class="submit">登入</a>
                    </span>
                </div>
            </form>
        </div>
        <div class="clean"> </div>

    </div>
</div>
{% endblock %}