<table style="width: 100%;">
    <tr>
        <td style="width:100px;"><h3 style="margin:0px;">發電功率</h3></td>
        <td>{{ case.kw }} KW</td>
        <td style="width:100px;"><h3 style="margin:0px;">今日發電數</h3></td>
        <td>{{ case.today_kwh }} KWH(度)</td>
        <td style="width:100px;"><h3 style="margin:0px;">今日躉售</h3></td>
        <td>{{ case.today_price }} 元</td>
    </tr>
</table>

<table style="width: 100%;">
    <tr>
        <td style="padding: 0; text-align: center;" valign="top">
            <img src="{{ case.image }}" style="width:700px;"/>
        </td>
    </tr>
</table>


