<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-tw">
<title>牧陽能控有限公司Green Shepherd Co.,Ltd.</title>
<meta name="description" content="gsgsggsgs" />
<meta name="keywords" content="太陽能發電系統,綠色產業,太陽能發電,台南光電科技,售電" />

<script type="text/javascript" src="../../../../../Users/Administrator/Desktop/web/js/swfobject.js"></script>
<link href="../../../../../Users/Administrator/Desktop/web/css/client.css" rel="stylesheet" type="text/css" />
<link href="../../../../../Users/Administrator/Desktop/web/css/topmenu.css" rel="stylesheet" type="text/css"><!--topmenu-->
<script type="text/javascript" src="Js/jquery.min.js"></script><!--共用主程式-->
<script type="text/javascript" src="../../../../../Users/Administrator/Desktop/web/js/zoom.js"></script><!--限制最大寬或最大高比例 程式-->
<script type="text/javascript" src="Js/ddaccordion.js"></script><!--left_menu-->
<link href="../../../../../Users/Administrator/Desktop/web/css/menu.css" rel="stylesheet" type="text/css" /><!--left_menu-->
<!--[if lte IE 6]>
    <script type="text/javascript" src="../../../../../Users/Administrator/Desktop/web/js/supersleight-min.js"></script>
    <![endif]-->
<script type="text/javascript">
//Initialize Arrow Side Menu:
ddaccordion.init({
	headerclass: "menuheaders", //Shared CSS class name of headers group
	contentclass: "menucontents", //Shared CSS class name of contents group
	revealtype: "clickgo", //Reveal content when user clicks or onmouseover the header? Valid value: "click", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content.
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["unselected", "selected"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: 500, //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})

	$(document).ready(function() {
		$('div.small_pic a').fancyZoom({scaleImg: true, closeOnClick: true});
		$('#zoom_word_1').fancyZoom({width:400, height:200});
		$('#zoom_word_2').fancyZoom();
		$('#zoom_flash').fancyZoom();
	});
</script>
</head>

<body>
<div class="wrap">
  <div class="top_index">
    <div class="top_box">
      <div class="logo"></div>
      <div class="top_tel" title="服務專線06-2003195"></div>
      <div class="top_project" title="工程實績"><a href="#"></a></div>
      <div class="clean"> </div>
    </div>
    <div class="topmenu">
      <div class="imrcmain0 imgl" style="width:1003px;z-index:999999;position:relative;">
        <div class="imcm imde" id="imouter0"><ul id="imenus0">
          <li class="imatm"  style="width:90px;"><a class="" title="首頁" href="index.html" himg="images/menu_a2.jpg" style="background-image:url(../../../../../Users/Administrator/Desktop/web/images/menu_a1.jpg);background-repeat:no-repeat;background-position:center center;"><span class="imea imeam"><span></span></span></a></li>
    

    <li class="imatm"  style="width:152px;"><a href="about.html" title="公司簡介" himg="images/menu_b2.jpg" style="background-image:url(../../../../../Users/Administrator/Desktop/web/images/menu_b1.jpg);background-repeat:no-repeat;background-position:center center;"><span class="imea imeam"><span></span></span></a></li>
    

    <li class="imatm"  style="width:152px;"><a href="solution.html" title="系統套案" himg="images/menu_c2.jpg" style="background-image:url(../../../../../Users/Administrator/Desktop/web/images/menu_c1.jpg);background-repeat:no-repeat;background-position:center center;"><span class="imea imeam"><span></span></span></a>
      
      <div class="imsc"><div class="imsubc" style="width:152px;top:0px;left:0px;"><ul style="">
        <li><a href="solution.html">客制化專案</a></li>
	    <li><a href="solution.html">太陽能監控系統</a></li>
	    <li><a href="solution.html">太陽能屋頂並網型</a></li>
	    <li><a href="solution.html">大型電廠</a></li>
		<li><a href="solution.html">太陽能獨立型</a></li>
	    </ul></div></div>
    </li>
    

    <li class="imatm"  style="width:152px;" ><a href="service.html" title="專業服務" himg="images/menu_d2.jpg" style="background-image:url(../../../../../Users/Administrator/Desktop/web/images/menu_d1.jpg);background-repeat:no-repeat;background-position:center center;"><span class="imea imeam"><span></span></span></a>
      <div class="imsc"><div class="imsubc" style="width:152px;top:0px;left:0px;"><ul style="">
        <li><a href="service.html">系統安裝</a></li>
	    <li><a href="service2.html">維護管理</a></li>
	    <li><a href="service3.html">保固服務</a></li>
	    <li><a href="service4.html">案場監控</a></li>
	    </ul></div></div>	
	</li>
    
<li class="imatm"  style="width:152px;"><a href="project.html" title="工程實績" himg="images/menu_e2.jpg" style="background-image:url(../../../../../Users/Administrator/Desktop/web/images/menu_e1.jpg);background-repeat:no-repeat;background-position:center center;"><span class="imea imeam"><span></span></span></a></li>
    
<li class="imatm"  style="width:152px;"><a href="contact.html" title="連絡我們" himg="images/menu_f2.jpg" style="background-image:url(../../../../../Users/Administrator/Desktop/web/images/menu_f1.jpg);background-repeat:no-repeat;background-position:center center;"><span class="imea imeam"><span></span></span></a></li>
    
<li class="imatm"  style="width:152px;"><a href="#" title="客戶專區" himg="images/menu_g2.jpg" style="background-image:url(../../../../../Users/Administrator/Desktop/web/images/menu_g1.jpg);background-repeat:no-repeat;background-position:center center;"><span class="imea imeam"><span></span></span></a>

	<div class="imsc"><div class="imsubc" style="width:152px;top:0px;left:0px;"><ul style="">
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><input name="textfield" type="text" class="login" />
        <input name="textfield2" type="text" class="login" /></td>
  </tr>
  <tr>
    <td align="center"><a href="monitor.html" style="text-align: center">登入</a></td>
  </tr>
</table>

        </li>
	    </ul></div></div>

	</li>
    

    </ul><div class="imclear">&nbsp;</div></div>
      </div>
    </div>
    <!--topmenu區end-->
  </div><!--top_index區end-->
  <div class="title">
    <h1 class="title_pro">牧陽能控_線上訂購</h1>
  </div><!--top_抬頭區end-->
  <div class="container">
    <div class="leftpage">
      <div class="leftmenu">
        <div class="arrowsidemenu">
          <div class="menuheaders"><a href="#" title="CSS">產品主類別</a></div>
          <ul class="menucontents">
            <li><a href="#">第2層類別a</a></li>
            <li><a href="#">第2層類別b</a></li>
            <li><a href="#">第2層類別c</a></li>
            <li><a href="#">第2層類別d</a></li>
            <li><a href="#">第2層類別e</a></li>
          </ul>
          <div><a href="#" title="Forums">產品主類別2</a></div>
          <div class="menuheaders"><a href="#" title="JavaScript">產品主類別3</a></div>
          <ul class="menucontents">
            <li><a href="#">第2層類別a</a></li>
            <li><a href="#">第2層類別b</a></li>
          </ul>
          <div><a href="#" title="Tools">產品主類別4</a></div>
        </div>
      </div>
    </div>
    <div class="rightpage"><div class="pt_view">
      <table >
        <tr>
          <td valign="top" class="pv_l"><img src="../../../../../Users/Administrator/Desktop/web/images/test01.jpg" width="400" height="223" border="0"/></td>
          <td class="pv_r"><table>
            <tr>
              <td class="pname" colspan="2"> 產品名稱</td>
            </tr>
            <tr>
              <td class="left"> 商品編號： </td>
              <td class="right"><div class="no">123456789 </div></td>
            </tr>
            <tr>
              <td height="53" colspan="2" align="left"><span class="pro_txt">牧陽能控擁有豐富的太陽能發電系統實務經驗，提供太陽能發電系統專業的諮詢、規劃、設計及建構的整合性服務。商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span><span class="pro_txt">商品說明文。</span></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="2" ><br />
            <hr />
            <strong><font color="#990000">商品諮詢：
            </font></strong><br /><br />
<div class="member">
    <table >
	<tbody>
	<tr>
	  <td class="member_l"><span class="star">＊</span>姓名：</td>
	  <td >
	    <input type="text" maxlength="50" />          </td>
	  </tr>
	<tr>
	  <td class="member_l"><span class="star">＊</span>電話：</td>
	  <td ><input type="text" name="textfield2" /></td>
	  </tr>
	<tr>
		<td class="member_l"><span class="star">＊</span>電子信箱：</td>
		<td >
                <input name="textfield" type="text" maxlength="100" />          </td>
	</tr>
	<tr>
	  <td class="member_l"><span class="star">＊</span>諮詢內容：</td
		>
	  <td ><textarea style="height: 100px; width: 90%;font-size: 10pt;" name="textarea" cols="20" rows="2" ></textarea></td>
	  </tr>
	<tr>
      <td class="member_l">驗證碼：<br/>
      </td
		>
	  <td ><table width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td width="80%"><div><span style="margin: 5px; float: left;"><img src="../../../../../Users/Administrator/Desktop/web/CaptchaImage/CaptchaImage.jpg" width="180" height="50" /></span><span style="margin: 5px; float: left;">請輸入認證碼<br/>
                        <input name="text2" type="text" value="" size="5" maxlength="5" />
                  </span><br clear="all"/>
              </div></td>
              <td width="20%">換張圖</td>
            </tr>
          </tbody>
      </table></td>
	  </tr>
	<tr>
		<td colspan="2"><div align="center">
		  <input type="reset" name="Submit2" value="重新填寫" />
		  <input type="submit" name="Submit" value="確定送出" />
		</div></td>
	</tr>
</tbody></table>

</div>
<br /></td>
        </tr>
        <tr>
          <td colspan="2" align="center" class="prepg"></span><span class="back">
            <input name="submit" type="submit" class="submit" onclick="history.back();" value="回上一頁"/>
          </span></td>
        </tr>
      </table></div>
      <!--內容頁end-->
    </div><div class="clean"></div>
    <!--footer start--></div>
  <div class="footer">
    <div class="footer_menu">
      <table width="925" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="27"><a href="index.html">首頁</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="55"><a href="about.html">公司簡介</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="55"><a href="solution.html">系統套案</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="55"><a href="service.html">專業服務</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="55"><a href="project.html">工程實績</a> </td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="55"><a href="contact.html">聯絡我們</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="82"><a href="#"><img src="images/footer_fb.gif" width="16" height="16" align="absmiddle" /> facebook</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="68"><a href="#"><img src="images/footer_t.gif" width="16" height="16" align="absmiddle" /> twitter</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="77"><a href="#"><img src="images/footer_yo.gif" width="16" height="16" align="absmiddle" /> youtube</a></td>
          <td width="19"><img src="images/footer_menu_line.gif" width="19" height="11" /></td>
          <td width="105"><a href="#"><img src="images/footer_mail.gif" width="16" height="16" align="absbottom" /> Email</a></td>
          <td width="114" align="right"><a href="#"><img src="images/footer_mar.gif" alt="後台管理" width="14" height="15" /></a></td>
        </tr>
      </table>
    </div>
    <div class="footer_txt">ADD. 台南市大學路一號k館4F 415　TEL. 06-2003195</div>
    <div class="clean"></div>
  </div>
</div>




<script language="JavaScript" src="../../../../../Users/Administrator/Desktop/web/js/ocscript.js" type="text/javascript"></script><!--topmenu-->

</body>
</html>
