{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1 class="title_pro">購物車 > 購物清單</h1>
</div>

<div class="container">
    <div class="leftpage">
        <div class="leftmenu">
            <div class="arrowsidemenu">
                {%for item in product_category_list %}
                <div class="menuheaders"><a href="{{ item.link }}" title="{{ item.category_name }}">{{ item.category_name }}</a></div>
                <ul class="menucontents">
                    {%for sub_item in item.sub_list %}
                    <li><a href="{{ sub_item.link }}">{{ sub_item.category_name }}</a></li>
                    {%endfor%}
                </ul>
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="rightpage" style="margin-left: 10px;">
        <table style="width:100%; margin-bottom: 10px;">
            <tbody><tr>
                <td style="width:25%; text-align: center;height: 60px;" class="step_current">
                    <span class="step_title">Step 1 </span><br>
                    <span class="step_info">目前購物清單</span>
                </td>
                <td style="width:25%; text-align: center;">
                    <span class="step_title">Step 2 </span><br>
                    <span class="step_info">填寫聯絡資料</span>
                </td>
                <td style="width:25%; text-align: center;">
                    <span class="step_title">Step 3 </span><br>
                    <span class="step_info">確認資料</span>
                </td>
                <td style="width:25%; text-align: center;">
                    <span class="step_title">Step 4 </span><br>
                    <span class="step_info">訂單完成</span>
                </td>
            </tr>
        </tbody></table>

    <table cellpadding="0" cellspacing="0" border="0" width="800" class="orderTitle">
        <tr>
            <th width="375">　商品資訊</th>
            <th width="154">數量</th>
            <th width="106">價格</th>
            <th width="104">小計</th>
            <th width="50">刪除</th>
        </tr>
    </table>
    <div class="lineD"></div>
    <table cellpadding="0" cellspacing="0" border="0" width="800" class="orderList">
        {% set row_class = cycler('', 'bgColor') %}
        {% for item in order_item_list %}
            <tr class="{{ row_class.next() }} hasRecord">
                <td width="375">
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:375px;">
                        <tr>
                            <td>
                                <div style="width:80px; height: 80px;"><img src="{{ item.product_image }}" class="scale" alt="" /></div></td>
                            <td height="58" style="width:290px;" align="left">
                                產品型號：{{ item.product_no }} <br/>
                                <span>{{ item.product_name }}</span> <br/>
                                <span>{{ item.spec }}</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="154">{{ item.item_quantity }}</td>
                <td width="106">{{ item.product_price|thousands_separator }} 元</td>
                <td width="104">{{ item.item_sum|thousands_separator }} 元</td>
                <td width="50" align="center"><a href="#" class="remove_item" data-url="{{ 'add_shopping_cart.json'|url }}" data-info="product_id={{ item.product_id }}&quantity=-1&spec={{ item.product_spec }}" title=""><img src="images/icon12.gif" alt=""/></a></td>
            </tr>
        {% endfor %}
            <tr class="{{ row_class.next() }} notRecord" style="display: none;">
                <td width="375">
                    <table cellpadding="0" cellspacing="0" border="0" align="center">
                        <tr>
                            <td></td>
                            <td height="58" align="left">您尚未選購產品</td>
                        </tr>
                    </table>
                </td>
                <td width="154">--</td>
                <td width="106">--</td>
                <td width="104">--</td>
                <td width="50" align="center">--</td>
            </tr>
    </table>
    <div style="display: none;" class="hasRecord">
        <div class="lineD"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="allPric" width="800">
            <tr>
                <td width="546">
                    {% if current_user %}
                    <div><span>小叮嚀</span>│您也可以從右上方的 "訂單查詢" 進入會員中心裡查看所有的訂單資料。</div>
                    {% else %}
                    <div><span>快速結帳</span>│您只要在購物的時候填寫訂單資料，系統將自動為您升級成為會員。</div>
                    {% endif %}
                    <div class="btn" align="center">
                        <a href="{{ 'goods_list.html'|url }}" title=""><img src="images/goshop_out.gif" alt="" class="img_change"/></a>
                        <a href="#" class="remove_all" title=""><img src="images/recar_out.gif" alt="" class="img_change"/></a>
                    </div>
                </td>
                <td width="191" align="right" class="bgColor02">總金額 {{ record.total_amount|thousands_separator }} 元<br/>
                    <a href="{{ 'step02.html'|url }}" title="">前往結帳 ></a>
                </td>
            </tr>
        </table>
    </div>
 </div>

<script type="text/javascript">
    $(function(){
        if ($(".hasRecord").length == 0){
            $(".notRecord").show();
        }else{
            $(".hasRecord").show();
        }
        $(".remove_item").click(function(){
            var _this = $(this);
            json(_this.data("url"), _this.data("info") , function(data){
                if (data.done != undefined) {
                    window.location.reload();
                }
            }, function(data){
                if (data.done != undefined) {
                    window.location.reload();
                }
            });
        });
        $(".remove_all").click(function(){
            var _this = $(this);
            json("clean_shopping_cart.json", null , function(data){
                if (data.done != undefined) {
                    window.location.reload();
                }
            }, function(data){
                if (data.done != undefined) {
                    window.location.reload();
                }
            });
        });
    });
</script>
{% endblock %}