{% extends "base.html" %}
{% block content %}
<!-- 當前位置 -->
<div class="side">
    <img src="images/icon03.gif" align="absmiddle">&nbsp;
    <a href="{{''|url}}" title="Home">Home</a>&nbsp;
    <img src="images/icon04.gif" align="absmiddle">&nbsp;
    <span>{{ record.setting_name }}</span>
</div>
<!-- 當前位置 end -->
<div class="commBox">
    <!-- info -->
    <table cellpadding="0" cellspacing="0" border="0" width="737">
        <tr>
            <td colspan="8" class="companyName">{{ 'com_title'| websetting }}</td>
        </tr>
        <tr>
            <td colspan="8" class="companyAdd">{{ 'com_address'| websetting }}&nbsp;&nbsp;No.716, Yuyi Rd., East Dist., Tainan City 701, Taiwan (R.O.C.)</td>
        </tr>
        <tr class="companyOther">
            <td width="30" align="center"><img src="images/icon09.gif" alt=""/></td>
            <td>{{ 'com_telephone'| websetting }}</td>
            <td width="30" align="center"><img src="images/icon10.gif" alt=""/></td>
            <td>{{ 'com_fax'| websetting }}</td>
            <td align="center"><img src="images/icon08.gif" alt=""/></td>
            <td><a href="mailto:{{ 'com_email'| websetting }}" title="">{{ 'com_email'| websetting }}</a></td>
            <td align="center"><img src="images/icon07.gif" alt=""/></td>
            <td><a href="{{ 'com_url'| websetting }}" title="">{{ 'com_url'| websetting }}</a></td>
        </tr>
    </table>
    <div class="lineD mT20"></div>
    <div class="map">{{ record.value }}</div>
</div>
{% endblock %}