{% extends "base.html" %}
{% block content %}
<!-- 當前位置 -->
<div class="side">
    <img src="http://static.063318866.com/images/icon03.gif" align="absmiddle">&nbsp;
    <a href="{{''|url}}" title="Home">Home</a>&nbsp;
    <img src="http://static.063318866.com/images/icon04.gif" align="absmiddle">&nbsp;
    <span>購物須知</span>
</div>
<!-- 當前位置 end -->
<div class="commBox privacy">
    <div><img src="http://static.063318866.com/images/shopimg.gif" alt=""/></div>
    <span><img src="http://static.063318866.com/images/icon06.gif" alt="" align="absmiddle"/>&nbsp;&nbsp;付款方式</span>

    <div class="privacyCon">1.ATM轉帳：只要將購買款項以ATM或網路銀行，直接匯入系統指定帳號即可完成付款。<br/>
        2.貨到付款：貨物寄送到客指定地點，並將由宅配司機代為收款。
    </div>
    <span><img src="http://static.063318866.com/images/icon06.gif" alt="" align="absmiddle"/>&nbsp;&nbsp;交貨方式</span>

    <div class="privacyCon">
        寄送時間：下標滙款後，即開始安排出貨（遇週六/日與16點後則遞延至上班日）除指定時間外，三日內到貨！！<br/>
        送貨方式：本店網路銷售商品，一律以宅配送達【注意！！！收件地址請勿為郵政信箱】<br/>
        送貨範圍：台灣本島地區，如外島請另來電洽詢：06-331-8866<br/><span>備註：亦可自本公司(台南市東區裕義路316號)購買取貨。</span>
    </div>
    <span><img src="http://static.063318866.com/images/icon06.gif" alt="" align="absmiddle"/>&nbsp;&nbsp;到貨時段</span>

    <div class="privacyCon">宅配到府可選擇四個時段：<br/>
        1. 不指定：全日收貨 <br/>
        2. 中午前：上午12點以前 <br/>
        3. 下午：上午12點～下午5點前 <br/>
        4. 晚上：下午5點～晚上8點前 <br/>
        若未選擇，則以不指定時段運送 <br/>
        宅配業者會以選擇之時段為優先運送順序，唯實際到貨時段受宅配業者當日宅配情況影響。
        建議您可利用宅配單號或來電查詢06-331-8866。
    </div>
    <span><img src="http://static.063318866.com/images/icon06.gif" alt="" align="absmiddle"/>&nbsp;&nbsp;轉帳資訊</span>

    <div class="privacyCon">
        <span>上海銀行(011)   永康分行<br/>
        戶名：第一家庭開發企業有限公司<br/>
        帳號：38102-00000-8862</span>
    </div>
    <span><img src="http://static.063318866.com/images/icon06.gif" alt="" align="absmiddle"/>&nbsp;&nbsp;退換貨說明</span>

    <div class="privacyCon">
        販售之商品及售後服務確實符合政府相關法令規定，消費者逾7天鑑賞期後~1年以內，主張商品(只限
        家電用品)瑕疵要求退/換貨之個案處理原則，經客服人員客觀合理判斷：
        <br/><br/>

        1. 消費者屬於善意且為新品首次拆封即見之明顯瑕疵（例：無法運轉、缺件、損傷）時，由廠商配合
        退/換貨作業，因此所產生來回運費由廠商吸收。<br/>

        2. 若商品回收後經廠商鑑定（指能提供合理客觀實證者，例：照片、攝影、檢測證明）屬人為因素惡
        意破壞或商品使用不當所造成之耗損、刮傷或故障等，則屬售後服務維修之問題，應向消費者收取整
        新或修復費用後，再按保固期內之保固規範進行售後服務相關作業。<br/>

        3. 經客觀判斷為人為因素且非首次使用所造成之問題，請消費者自行寄交廠商辦理後續保固、維修相
        關作業。
        <br/><br/>

        ◎依照消費者保護法規定，消費者均享有產品到貨七天猶豫期之權益，但退回產品必須是回復原狀，亦
        即必須回復至您收到商品時的原始狀態且包裝完整 ( 保持產品、附件、包裝、廠商紙箱及所有附隨文
        件或資料之完整性 ) ，否則恕不接受退貨<br/>

        <span>◎請特別注意！鑑賞期屬猶豫期，並非試用期！</span>
        <br/>
        ◎本產品係由生產廠商或供應商免費提供基本運送，若因地處偏遠、或其他特殊情形 (例如：天災或道
        路狀況不良)，致使所物流車輛無法於正常狀況下送抵，而需另以其他方式處理時，所衍生之費用，須
        由訂購人自行支付供貨廠商。
    </div>
</div>
{% endblock %}