<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>一品夫人</title>
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css"|static_path }}" />
    <link rel="stylesheet" type="text/css" href="{{ "css/skin.css"|static_path }}" />
    <script type="text/javascript" src="{{ "js/swfobject.js"|static_path }}"></script>
    <script type="text/javascript" src="{{ "js/jquery.js"|static_path }}"></script>
    <script type="text/javascript" src="{{ "js/mouse.js"|static_path }}"></script>
    <script type="text/javascript" src="{{ "js/jquery.jcarousel.js"|static_path }}"></script>
    <script type="text/javascript" src="{{ "js/fadepic.js"|static_path }}"></script>
</head>

<body>
	<!-- 最外層 -->
	<div id="wrapper">
    	<!-- logo menu marquee login banner  -->
        <div class="topBox">
        	<!-- logo -->
            <div class="logo"><a href="./" title="一品夫人"><img src="images/logo.png" alt="一品夫人" /></a></div>
            <!-- logo end -->
            <!-- menu marquee -->
            <div class="menuMarquee">
            	<table cellpadding="0" cellspacing="0" border="0" width="819" align="center">
                	<tr>
                    	<td width="609" class="menuBox">
                        	<a href="about.html" title="關於我們"><img src="images/menu01_out.png" alt="關於我們" class="img_change" /></a>
                            <a href="news_list.html" title="最新消息"><img src="images/menu02_out.png" alt="最新消息" class="img_change" /></a>
                            <a href="goods_list.html" title="商品櫥窗"><img src="images/menu03_out.png" alt="商品櫥窗" class="img_change" /></a>
                            <a href="faq.html" title="問與答"><img src="images/menu04_out.png" alt="問與答" class="img_change" /></a>
                            <a href="guestbook.html" title="留言板"><img src="images/menu05_out.png" alt="留言板" class="img_change" /></a>
                            <a href="contact.html" title="聯絡我們"><img src="images/menu06_out.png" alt="聯絡我們" class="img_change" /></a>
                        </td>
                        <td width="73"><a href="./" title="回首頁">回首頁</a></td>
                        <td width="24"><img src="images/icon.gif" alt="" /></td>
                        <td width="113">購物車 <a href="step01.html" title=""><span>00001</span></a></td>
                    </tr>
                </table>
                <div class="marquee"><marquee scrolldelay="120">跑馬燈訊息...跑馬燈訊息...跑馬燈訊息...跑馬燈...跑馬燈訊息...跑馬燈訊息...跑馬燈訊息...跑馬燈...跑馬燈訊息...跑馬燈訊息...跑馬燈訊息...跑馬燈...</marquee></div>
            </div>
            <!-- menu marquee end -->
            <!-- login -->
            <div class="loginBox">
            	<div align="center"><img src="images/logintitle.png" alt="會員登入" /></div>
                <table cellpadding="0" cellspacing="0" border="0">
                	<tr>
                    	<th>會員<span>帳號</span></th>
                        <td><input type="text" value="" class="input w100" /></td>
                    </tr>
                    <tr>
                    	<th>會員<span>密碼</span></th>
                        <td><input type="password" value="" class="input w100" /></td>
                    </tr>
                    <tr>
                    	<td colspan="2" align="center"><a href="member.html" title="登入"><img src="images/login_out.gif" alt="" class="img_change" /></a></td>
                    </tr>
                </table>
                <div align="center" class="loginLink"><a href="join.html" title="">加入會員</a>&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;<a href="password.html" title="">忘記密碼</a></div>
            </div>
            <!-- login end -->
            <!-- logout -->
            <!-- <div class="logoutBox">
            	您好，<span>abc123</span><br />歡 / 迎 / 您 / 的 / 登 / 入
                <div align="center" class="logoutBtn"><a href="#" title="登出"><img src="images/logout_out.gif" alt="" class="img_change" /></a></div>
                <div align="center" class="loginLink"><a href="order.html" title="">訂單查詢</a>&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;<a href="password_ch.html" title="">修改密碼</a></div>
            </div> -->
            <!-- logout end -->
            <div id="abgne_fade_num" class="abgne_fade_num"></div>
            <!-- banner -->
            <div class="bannerBox">
            	<img src="images/ibanner_mask.png" alt="" class="bannerMask" />
                <div id="abgne_fade_pic">
                	<a href="#" title="" class="ad"><img src="images/ibanner.jpg" alt="" /></a>
                    <a href="#" title="" class="ad"><img src="images/ibanner02.jpg" alt="" /></a>
                    <a href="#" title="" class="ad"><img src="images/ibanner.jpg" alt="" /></a>
                    <a href="#" title="" class="ad"><img src="images/ibanner02.jpg" alt="" /></a>
                    <a href="#" title="" class="ad"><img src="images/ibanner.jpg" alt="" /></a>
                </div>
            </div>
            <!-- banner end -->
        </div>
        <!-- logo menu marquee login banner end  -->
        <!-- main -->
        <div id="mainBox">
        	<!-- video -->
            <div class="videoBox">
            	<div class="videoTop">
                	<div class="videoImg"><img src="images/videoimg.png" alt="" /></div>
                    <div class="videoTitle">
                    	<div><img src="images/videotitle.gif" alt="" /></div>
                        <table cellpadding="0" cellspacing="0" border="0" width="325" class="videoList">
                        	<tr>
                            	<td width="15"><img src="images/icon02.gif" alt="" /></td>
                                <th align="left">近5年多在VIVA電視購物頻道銷售，連年贏得VIVA</th>
                            </tr>
                        </table>
                    </div>
                    <div class="clear"></div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" width="490" class="videoList">
                	<tr>
                    	<td width="15"><img src="images/icon02.gif" alt="" /></td>
                        <th align="left">近5年多在VIVA電視購物頻道銷售，連年贏得VIVA電視購物頻道銷售，連年贏得</th>
                    </tr>
                    <tr>
                    	<td><img src="images/icon02.gif" alt="" /></td>
                        <th align="left">近5年多在VIVA電視購物頻道銷售，連年贏得VIVA電視購物頻道銷售，連年贏得</th>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" class="otherLink">
                	<tr>
                    	<td><img src="images/contactimg.gif" alt="" /></td>
                        <td><a href="#" title=""><img src="images/mainicon.gif" alt="" /></a></td>
                        <td><img src="images/line.gif" alt="" /></td>
                        <td><a href="#" title=""><img src="images/caricon.gif" alt="" /></a></td>
                    </tr>
                </table>
            </div>
            <!-- video end -->
            <!-- goods -->
            <div class="goodsBox">
            	<table cellpadding="0" cellspacing="0" border="0" width="470">
                	<tr>
                    	<td width="419"><img src="images/goodstitle.gif" alt="" /></td>
                        <td width="51"><a href="goods_list.html" title=""><img src="images/more_out.gif" alt="" class="img_change" /></a></td>
                    </tr>
                </table>
                <div class="iGoodsListBox">
                	<div class="goodsList">
                    	<table cellpadding="0" cellspacing="0" border="0">
                        	<tr>
                            	<td><a href="goods_view.html" title=""><img src="images/testimg.jpg" alt="" width="120" /></a></td>
                            </tr>
                            <tr>
                            	<th><a href="goods_view.html" title="">慢磨機</a></th>
                            </tr>
                        </table>
                    </div>
                    <div class="gLine"><img src="images/line02.gif" alt="" /></div>
                    <div class="goodsList">
                    	<table cellpadding="0" cellspacing="0" border="0">
                        	<tr>
                            	<td><a href="goods_view.html" title=""><img src="images/testimg02.jpg" alt="" width="120" /></a></td>
                            </tr>
                            <tr>
                            	<th><a href="goods_view.html" title="">慢磨機</a></th>
                            </tr>
                        </table>
                    </div>
                    <div class="gLine"><img src="images/line02.gif" alt="" /></div>
                    <div class="goodsList">
                    	<table cellpadding="0" cellspacing="0" border="0">
                        	<tr>
                            	<td><a href="goods_view.html" title=""><img src="images/testimg03.jpg" alt="" width="120" /></a></td>
                            </tr>
                            <tr>
                            	<th><a href="goods_view.html" title="">慢磨機</a></th>
                            </tr>
                        </table>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- goods end -->
            <div class="clear"></div>
            <!-- links -->
            <div class="linksBox">
            	<ul id="mycarousel" class="jcarousel-skin-tango">
                	<li><a href="#" title="" target="_blank"><img src="images/testimg04.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg05.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg04.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg05.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg04.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg05.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg04.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg05.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg04.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg05.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg04.jpg" alt="" /></a></li>
                    <li><a href="#" title="" target="_blank"><img src="images/testimg05.jpg" alt="" /></a></li>
                </ul>
            </div>
            <!-- links end -->
        </div>
        <!-- main end -->
	</div>
	<!-- 最外層 end -->
    <!-- footer -->
    <div id="footer">
    	<!-- bot menu -->
        <div class="botMenu"><a href="about.html" title="關於我們">關於我們</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="news_list.html" title="最新消息">最新消息</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="goods_list.html" title="商品櫥窗">商品櫥窗</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="faq.html" title="問與答">問與答</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="guestbook.html" title="留言板">留言板</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact.html" title="聯絡我們">聯絡我們</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="know.html" title="購物須知">購物須知</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="privacy.html" title="隱私權聲明">隱私權聲明</a></div>
        <!-- bot menu end -->
        <!-- 公司資訊 -->
        <div class="footerInfo">© All Rights Reserved. 第一家庭開發企業有限公司&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;聯絡電話：06-3318866&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;傳真號碼：06-3313965&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;公司地址：台南市東區裕義路316號</div>
        <!-- 公司資訊 end -->
    </div>
    <!-- footer edn -->
</body>
<script type="text/javascript">
$(document).ready(function() {
    $('#mycarousel').jcarousel({
        auto: 2,
        wrap: 'last'
    });
});
</script>

<link rel="stylesheet" type="text/css" href="/application/backend/template___/artDialog/artDialog.skin.twitter.css" />
<script type="text/javascript" src="/application/backend/template___/artDialog/jquery.artDialog.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    art.dialog({
        padding: 0,
        title: "一品夫人",
        content: '<img src="/template/static/greenshepherd/images/build.gif" width="513" height="291" />',
        lock: true,
        esc: false,
        drag: false,
        background: '#666', // 背景色
        opacity: 0.87,	// 透明度
        resize: false,
        fixed: true,
        cancel: false
    });
});
</script>
</html>