{% extends "base.html" %}
{% block content %}
<!-- 當前位置 -->
<div class="side">
    <img src="images/icon03.gif" align="absmiddle">&nbsp;
    <a href="{{''|url}}" title="Home">Home</a>&nbsp;
    <img src="images/icon04.gif" align="absmiddle">&nbsp;
    <a href="{{'info.html'|url}}" title="">會員中心</a>&nbsp;
    <img src="images/icon04.gif" align="absmiddle">&nbsp;
    <span>修改密碼</span>
</div>
<!-- 當前位置 end -->
<div id="info_done" style="padding: 100px; line-height: 150px; display: none;"></div>
<div id="d_form">
    <form id="pw_ch" action="{{ 'password_ch.json'|url }}">
        <div class="commBox">
            <div class="text">密碼應定期更新，重新設定新密碼後，舊密碼即失效！</div>
            <div class="lineD"></div>
            <table cellpadding="0" cellspacing="0" border="0" width="737" class="gbForm">
                <tr>
                    <th width="161">舊密碼</th>
                    <td width="576"><input type="password" name="old_password" id="old_pw" value="" class="input02 w200"/>
                        <span id="info_old_password" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th>新密碼</th>
                    <td><input type="password" name="password" value="" id="pw" class="input02 w200"/>
                        <span id="info_password" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th>確認密碼</th>
                    <td><input type="password" name="password2" value="" id="pw2" class="input02 w200"/>
                        <span id="info_password2" class="error"></span>
                    </td>
                </tr>
                <!-- <tr>
                    <th>驗證碼</th>
                    <td><input type="text" value="" class="input02 w80"/>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/code.png" alt="" align="absmiddle"/></td>
                </tr> -->
            </table>
            <div class="lineD"></div>
            <div class="btn mT20" align="center">
                <a id="but_pw_ch_reset" title=""><img src="images/reset_out.gif" alt="" class="img_change"/></a>
                <a id="but_pw_ch_send" title=""><img src="images/submit_out.gif" alt="" class="img_change"/></a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $(".menu_one").each(function(){
            if ($("a", this).attr("href").indexOf("password") > 0){
                $("a", this).addClass("active");
            }
        });
    });
</script>
{% endblock %}