{% extends "base.html" %}
{% block content %}
<!-- 當前位置 -->
<div class="side">
    <img src="images/icon03.gif" align="absmiddle">&nbsp;
    <a href="{{''|url}}" title="Home">Home</a>&nbsp;
    <img src="images/icon04.gif" align="absmiddle">&nbsp;
    <a href="{{'info.html'|url}}" title="">會員中心</a>&nbsp;
    <img src="images/icon04.gif" align="absmiddle">&nbsp;
    <span>忘記密碼</span>
</div>
<!-- 當前位置 end -->
<div class="commBox">
    <div class="passwordLeft">
        <div id="info_done" style="padding: 50px; line-height: 200px; display: none;"></div>
        <div id="d_form">
            <div class="text">輸入會員帳號送出後，系統將自動產生新密碼到您所註冊的信箱</div>
            <div class="lineD"></div>
            <table cellpadding="0" cellspacing="0" border="0" width="370" class="gbForm">
                <tr>
                    <th width="122">電子信箱</th>
                    <td width="248">
                        <input type="text" id="email" value="" class="input02 w200"/>
                        <span id="info_email" class="error"></span>
                    </td>
                </tr>
            </table>
            <div align="center">
                <a id="but_forget_password" title="修改密碼" style="cursor: pointer;">
                    <img src="images/submit_out.gif" alt="" class="img_change"/>
                </a>
            </div>
        </div>
    </div>
    <div class="passwordRight">
        <div class="text">第一次光臨，還沒成為會員嗎?!</div>
        <div class="lineD"></div>
        <div class="text02">您可以至<a href="{{ 'join.html'|url }}" title="">加入會員</a>中加入，也可直接前往<a href="{{ 'goods_list.html'|url }}" title="">購物</a>，在結帳的時填寫訂單資料，系統將自動為您升級成為會員。<br/><br/>加入會員後我們將提供您更多服務。</div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $(function(){
        $(".menu_one").each(function(){
            if ($("a", this).attr("href").indexOf("password") > 0){
                $("a", this).addClass("active");
            }
        });

        $("#but_forget_password").click(function(){
            json("{{ '/forget_password.json'|url }}", "email=" + $("#email").val(), function(data){
                for (var key in data) {
                    $("#info_" + key).html("&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;" + data[key]).slideDown();
                }
                if (data.done != undefined) {
                    $("#d_form").slideUp();
                }
            }, function(data){
                for (var key in data) {
                    $("#info_" + key).html("&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;" + data[key]).slideDown();
                }
                if (data.done != undefined) {
                    $("#d_form").slideUp();
                }
            });
        });
    });
</script>
{% endblock %}