{% extends "base.html" %}
{% block content %}
<!-- con -->
<div class="con h604">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td width="31"><img src="images/icon.png" alt=""/></td>
            <td class="title">歷屆案例 &nbsp; &nbsp; <span>PAST CASE</span></td>
        </tr>
    </table>
    <!-- view -->
    <div class="caseView">
        <div class="bPicView"><img src="{{ record.image }}" alt="" class="resize" /></div>
        <div class="caseViewInfo">
            <div class="caseTitle">{{ record.case_name }}</div>
            <div class="caseText">{{ record.content }}</div>
            <div class="caseSPic">
                <div><img src="{{ record.image }}" alt="" class="resize" /></div>{% for img in record.image_list %}
                <div><img src="{{ img }}" alt="" class="resize" /></div>{% endfor %}
            </div>
        </div>
    </div>
    <!-- view end -->
    <div class="lineD"></div>
    <div class="btn"><a href="case_list.html" title=""><img src="images/back_out.png" alt="" class="img_change"/></a></div>
</div>
<!-- con end -->
{% endblock %}