{% extends "base.html" %}
{% block content %}
<!-- con -->
<div class="con h542">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td width="31"><img src="images/icon.png" alt=""/></td>
            <td class="title">熱銷專案 &nbsp; &nbsp; <span>HOT CASE</span></td>
        </tr>
    </table>
    <!-- list -->
    {% for item in list %}
    <a href="hot_view.html?id={{ item.id }}" title="{{ item.case_name }}">
        <div class="caseList">
            <div class="bPic"><img src="{{ item.first_image }}" alt="" class="resize" /></div>
            <div class="caseListInfo">
                <div class="caseTitle">{{ item.case_name }}</div>
                <div class="caseText html_2_text">{{ item.content_small }}</div>
                <div class="caseSPic">{% for img in item.image_list %}
                    <div><img src="{{ img }}" alt="" class="resize" /></div>{% endfor %}
                </div>
            </div>
        </div>
    </a>
    <div class="lineD"></div>
    {% endfor %}
    <table cellpadding="0" cellspacing="0" border="0" width="75%" class="page">
        <tr>
            <td width="31"><a href="/hot_list.html?page={{ prev_page }}" title=""><img src="images/prev_out.png" alt="" class="img_change"/></a></td>
            <td class="pager">
                <div class="pager mT30 pagination" data-page-all="{{ page_all }}" data-page-now="{{ page_now }}" data-page-url="/hot_list.html" align="center"></div>
            </td>
            <td width="31"><a href="/hot_list.html?page={{ next_page }}" title=""><img src="images/next_out.png" alt="" class="img_change"/></a></td>
        </tr>
    </table>
</div>
<!-- con end -->
{% endblock %}