<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ 'description'|websetting }}" />
    <meta name="keywords" content="{{ 'keywords'|websetting }}" />
    <title>全日昇建設</title>
    <link href="css/style-0.9.css?r={{ app_version }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/jQueryAddress/jquery.address-1.5.min.js"></script>
    <!--[if lte IE 8]><script type="text/javascript" src="js/common_ie8.js?r={{ app_version }}"></script><![endif]-->
    <!--[if gt IE 8]><script type="text/javascript" src="js/common.js?r={{ app_version }}"></script><![endif]-->
    <![if !IE]><script type="text/javascript" src="js/common.js?r={{ app_version }}"></script><![endif]>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-42426535-2', 'yooliang.com');
        ga('send', 'pageview');
    </script>
</head>
<body>
	<div id="wrapper" none="true">
 		<img src="{{'bg_image_index'|webimage }}" alt="" class="bgImg" />
        <div id="main">
        	<div class="slogan"><img src="images/text.png" alt="" /></div>
        	<div id="goodsBox">
        		<div class="goodsList"><a href="{{ link_01 }}" title="" class="delay15"><img src="{{ image_01 }}" alt="" class="resize" /></a></div>
            	<div class="goodsList"><a href="about.html" title="" class="bgColor delay5">關於我們<br /><span>ABOUT</span></a></div>
        		<div class="goodsList"><a href="{{ link_02 }}" title="" class="delay15"><img src="{{ image_02 }}" alt="" class="resize" /></a></div>
            	<div class="clear"></div>
            	<div class="goodsList"><a href="case_list.html" title="" class="bgColor delay30">歷屆案例<br /><span>PAST CASE</span></a></div>
            	<div class="goodsList"><a href="#" title="" class="bgColorLogo delay40"></a></div>
            	<div class="goodsList"><a href="hot_list.html" title="" class="bgColor delay20">熱銷專案<br /><span>HOT CASE</span></a></div>
            	<div class="clear"></div>
            	<div class="goodsList"><a href="contact.html" title="" class="bgColor delay35">聯絡我們<br /><span>CONTACT</span></a></div>
        		<div class="goodsList"><a href="{{ link_03 }}" title="" class="delay15"><img src="{{ image_03 }}" alt="" class="resize" /></a></div>
        		<div class="goodsList"><a href="{{ link_04 }}" title="" class="delay15"><img src="{{ image_04 }}" alt="" class="resize" /></a></div>
            	<div class="clear"></div>
        	</div>
        </div>
        <div id="pFooter">
        	© 全日昇建設 All rights reserved. &nbsp; 台南市東區東光路二段56號 &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; TEL：06-2356977 &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; FAX：06-2352091 &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; E-Mail：<a href="mailto:crs2011tw@gmail.com" title="">crs2011tw@gmail.com</a> &nbsp;  &nbsp; 
        </div>
	</div>
</body>
</html>
