<h3 class="page-title">歡迎</h3>
<div class="row-fluid p18">
    <a href="https://www.google.com/analytics/web/#report/visitors-overview/a30272569w56688584p57789697/" target="_blank">
        <div class="span2 linkbox">
            <img src="/template/backend/v1/img/google-analytics.png"><br />
            <br />流量分析
        </div>
    </a>


    <a href="https://www.google.com/webmasters/tools/dashboard?hl=zh-TW&amp;siteUrl=http://www.greenshepherd.com.tw/" target="_blank">
        <div class="span2 linkbox">
            <img src="/template/backend/v1/img/webmasters.png"><br />
            <br />網站管理員工具
        </div>
    </a>

    <a href="http://mail.greenshepherd.com.tw/" target="_blank">
        <div class="span2 linkbox">
            <img src="/template/backend/v1/img/gmail.png"><br />
            <br />郵件管理
        </div>
    </a>

    <a href="https://code.google.com/apis/console/b/0/#project:867443095014:sql:instance:yooliang-com:greenshepherd" target="_blank">
        <div class="span2 linkbox">
            <img src="/template/backend/v1/img/SQL.png"><br />
            <br />資料庫維護
        </div>
    </a>

</div>