<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="">
<meta name="keywords" content="">
<title>此為 Yami Yami 校稿頁面</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/global.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/swfobject.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>
<script type="text/javascript" src="js/mouse.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>

<body>
	<!-- 最外層 -->
	<div id="wrapper">
    	<!-- 內頁下方背景圖 -->
		<div id="footerBg">
        	<!-- main -->
        	<div id="main">
            	<!-- top -->
            	<table cellpadding="0" cellspacing="0" border="0" width="1000" class="top">
            		<tr>
                		<td valign="top" class="welcome"><a href="info.html" title="">abc123</a> &nbsp;您好! 歡迎來到 Yami Yami &nbsp; <span>線上人數：45345 人  /  累積造訪：0032475288 人</span></td>
                    	<td width="345" valign="top" class="links"><a href="join.html" title="加入會員">加入會員</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="login.html" title="會員登入">會員登入</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="news_list.html" title="最新消息">最新消息</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="order.html" title="訂單查詢">訂單查詢</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="./" title="回首頁">回首頁</a></td>
                    	<td width="46"><a href="#" title=""><img src="images/fb_out.png" alt="" class="img_change" /></a></td>
                    	<td width="46"><a href="#" title=""><img src="images/blog_out.png" alt="" class="img_change" /></a></td>
                	</tr>
            	</table>
            	<!-- top end -->
            	<!-- logo -->
            	<div class="commBox">
            		<div class="logo"><a href="./" title="Yami Yami"><img src="images/logo.gif" alt="Yami Yami" /></a></div>
                	<div class="searchCar">
                		<table cellpadding="0" cellspacing="0" border="0" class="car" align="right">
                    		<tr>
                        		<td width="35"><img src="images/icon01.gif" alt="" /></td>
                            	<td valign="bottom"><a href="step01.html" title="">003</a> 個商品</td>
                        	</tr>
                    	</table>
                    	<div class="clear"></div>
                    	<table cellpadding="0" cellspacing="0" border="0" class="search">
                    		<tr>
                        		<td>
                            		<select class="select">
                                		<option>全部分類商品</option>
                                	</select>
                            	</td>
                            	<td class="searchBorder"><input type="text" value="" title="請輸入關鍵字查詢" class="searchInput" /></td>
                            	<td class="searchBtnBorder" width="22"><a href="search.html" title="搜尋"><img src="images/search_out.gif" alt="搜尋" class="img_change" /></a></td>
                        	</tr>
                    	</table>
                	</div>
            	</div>
            	<!-- logo end -->
            	<!-- menu -->
            	<div class="menu">
            	<a href="foreign_list.html" title="韓國童裝代購"><img src="images/menu01_out.png" alt="" class="img_change" /></a>
                <a href="goods_list.html" title="兒童精品"><img src="images/menu03_out.png" alt="" class="img_change" /></a>
                <a href="goods_list.html" title="漂亮媽咪專區"><img src="images/menu06_out.png" alt="" class="img_change" /></a>
                <a href="goods_list.html" title="童裝服飾"><img src="images/menu02_out.png" alt="" class="img_change" /></a>
                <a href="goods_list.html" title="進口玩具"><img src="images/menu04_out.png" alt="" class="img_change" /></a>
                <a href="goods_list.html" title="優惠活動"><img src="images/menu05_out.png" alt="" class="img_change" /></a>
            </div>
            	<!-- menu end -->
            	<!-- banner -->
            	<div class="pBanner">
            		<div id="slides">
                		<div class="slides_container">
                    		<div class="slide"><a href="#" title=""><img src="images/testimg09.png" width="1000" height="300" alt=""></a></div>
                        	<div class="slide"><a href="#" title=""><img src="images/testimg09.png" width="1000" height="300" alt=""></a></div>
                        	<div class="slide"><a href="#" title=""><img src="images/testimg09.png" width="1000" height="300" alt=""></a></div>
                    	</div>
             		</div>
             	</div>
             	<!-- banner end -->
                <!-- content -->
             	<div id="content">
             		<!-- left -->
                    <div id="left">
                    	<div><img src="images/lefttitle09.gif" alt="" /></div>
                        <!-- left menu -->
                        <div class="leftMenu">
                        	<div class="menuOne"><span>甜心芭比系列</span></div>
                            	<div class="menuTwo"><span>KIDS 女童 洋裝系列</span></div>
                                <div class="menuTwo"><a href="#" title="">KIDS 女童 上衣/ 褲子/ 外套</a></div>
                                <div class="menuTwo"><a href="#" title="">KIDS 男童 上衣 / 褲子</a></div>
                            <div class="lineD"></div>
                        	<div class="menuOne"><a href="#" title="">倫敦奧運系列</a></div>
                            <div class="lineD"></div>
                            <div class="menuOne"><a href="#" title="">童話糖果系列</a></div>
                            <div class="lineD"></div>
                            <div class="menuOne"><a href="#" title="">大童款系列</a></div>
                            <div class="lineD"></div>
                            <div class="menuOne"><a href="#" title="">時尚運動風系列</a></div>
                            <div class="lineD"></div>
                            <div class="menuOne"><a href="#" title="">時尚學院風系列</a></div>
                            <div class="lineD"></div>
                        </div>
                        <!-- left menu end -->
                        <div class="leftLink">
                    	<a href="foreign_form.html" title="韓國市集代購"><img src="images/leftlink02_out.gif" alt="" class="img_change" /></a>
                    	<a href="login.html" title="會員專區"><img src="images/leftlink01_out.gif" alt="" class="img_change" /></a>
                        <a href="sellform.html" title="誠徵經銷"><img src="images/leftlink03_out.gif" alt="" class="img_change" /></a>
                    </div>
                        <div><img src="images/service.gif" alt="" /></div>
                        <div class="serviceInfo">E-Mail：<br /><a href="mailto:service@yamiyami.com.tw" title="E-Mail">service@yamiyami.com.tw</a><br /><br />營業時間：<br />(一) ~ (六) AM 10:30 - PM 8:00</div>
                        <div><img src="images/qr.gif" alt="" /></div>
                    </div>
                    <!-- left end -->
                    <!-- right -->
                    <div id="right">
                    	<!-- 當前位置 -->
                		<div class="side"><img src="images/icon03.gif" align="absmiddle">&nbsp;<a href="./" title="">Home</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="goods_list.html" title="">國外童裝代購</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="goods_list.html" title="">甜心芭比系列</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<span>KIDS 女童 洋裝系列</span></div>
                		<!-- 當前位置 end -->
                        <!-- 01 -->
                        <div><img src="images/yami.gif" alt="" /></div>
                        <div class="goodsListBox">
                        	<div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- 02 -->
                        <div><img src="images/yami.gif" alt="" /></div>
                        <div class="goodsListBox">
                        	<div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- 03 -->
                        <div><img src="images/yami.gif" alt="" /></div>
                        <div class="goodsListBox">
                        	<div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="foreign_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="foreign_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- page -->
            			<div class="pager" align="center"><a href="#" title="上一頁"><img src="images/pre_out.gif" alt="上一頁" class="img_change" align="absmiddle" /></a><span class="current">1</span><a href="#" title="2">2</a><a href="#" title="3">3</a><a href="#" title="4">4</a><a href="#" title="5">5</a><a href="#" title="6">6</a><a href="#" title="7">7</a><a href="#" title="8">8</a><a href="#" title="9">9</a><a href="#" title="10">10</a><a href="#" title="下一頁"><img src="images/next_out.gif" alt="下一頁" class="img_change" align="absmiddle" /></a></div>
            			<!-- page end -->
                    </div>
                    <!-- right end -->
                    <div class="clear"></div>
             	</div>
             	<!-- content end -->
                <!-- footer -->
             	<div id="footer">
             		<div class="design"><a href="http://www.vmoon.com.tw/" title="網頁設計  |  梵月科技">網頁設計 &nbsp; &nbsp;| &nbsp; &nbsp;梵月科技</a></div>
                	<div class="copyright">Copyright © 2013  Yami Yami  All rights reserved</div>
                	<div class="footerLink"><a href="goods_list.html" title="童裝服飾">童裝服飾</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="foreign_list.html" title="韓國童裝代購">韓國童裝代購</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="goods_list.html" title="進口玩具">進口玩具</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="goods_list.html" title="兒童精品">兒童精品</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="goods_list.html" title="優惠活動">優惠活動</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="news_list.html" title="最新消息">最新消息</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="about.html" title="關於Yami Yami">關於Yami Yami</a>  &nbsp; &nbsp;| &nbsp; &nbsp;<a href="login.html" title="會員專區">會員專區</a>&nbsp; &nbsp;| &nbsp; &nbsp;<a href="contact.html" title="聯絡我們">聯絡我們</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="faq.html" title="常見問題">常見問題</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="proess.html" title="購物流程">購物流程</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="declare.html" title="隱私權聲明">隱私權聲明</a></div>
             	</div>
             	<!-- footer end -->
            </div>
            <!-- main end -->
        </div>
        <!-- 內頁下方背景圖 -->
	</div>
	<!-- 最外層 end -->
    <!-- right float -->
    <div id="rightFloat">
    	<div class="rightBtn"><a href="step01.html" title="購物車"><img src="images/righticar_out.png" alt="" class="img_change" /></a></div>
        <div class="rightBtn"><a href="login.html" title="經銷登入"><img src="images/rightsell_out.png" alt="" class="img_change" /></a></div>
        <div class="rightTop"><a href="step01.html" title="">003</a></div>
        <div class="rightBot">
        	<div class="rightList">
            	<a href="goods_list.html" title=""><img src="images/testimg03.jpg" alt="" /></a>
                <a href="goods_list.html" title=""><img src="images/testimg04.jpg" alt="" /></a>
            </div>
        </div>
    </div>
    <!-- right float end -->
</body>
</html>
