{% extends "base.html" %}
{% block content %}
<div id="left">
    <div><img src="images/sidebar_title_{{ tc }}.gif" alt=""/></div>
    <div class="leftMenu">
        {% for item in menu_list %}
            {% if item.level > 0 %}
                {% if item.is_select %}
                    <div class="menu_{{ item.level }}"><span>{{ item.category_name }}</span></div><div class="lineD"></div>
                {% else %}
                    <div class="menu_{{ item.level }}"><a href="#" title="">{{ item.category_name }}</a></div><div class="lineD"></div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="leftLink">
        <a href="foreign_form.html" title="韓國市集代購"><img src="images/leftlink02_out.gif" alt="" class="img_change"/></a>
        <a href="login.html" title="會員專區"><img src="images/leftlink01_out.gif" alt="" class="img_change"/></a>
        <a href="sellform.html" title="誠徵經銷"><img src="images/leftlink03_out.gif" alt="" class="img_change"/></a>
    </div>
    <div><img src="images/service.gif" alt=""/></div>
    <div class="serviceInfo">
        E-Mail：<br/>
        <a href="mailto:service@yamiyami.com.tw" title="E-Mail">service@yamiyami.com.tw</a><br/><br/>
        營業時間：<br/>(一) ~ (六) AM 10:30 - PM 8:00
    </div>
    <div><img src="images/qr.gif" alt=""/></div>
</div>

                    <div id="right">
                    	<!-- 當前位置 -->
                		<div class="side"><img src="images/icon03.gif" align="absmiddle">&nbsp;<a href="./" title="">Home</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="goods_list.html" title="">童裝服飾</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="goods_list.html" title="">甜心芭比系列</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="goods_list.html" title="">KIDS 女童 洋裝系列</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<span>甜心芭比系列</span></div>
                		<!-- 當前位置 end -->
                        <!-- 01 -->
                        <div><img src="images/yami.gif" alt="" /></div>
                        <div class="goodsListBox">
                        	<div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- 02 -->
                        <div><img src="images/yami.gif" alt="" /></div>
                        <div class="goodsListBox">
                        	<div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- 03 -->
                        <div><img src="images/yami.gif" alt="" /></div>
                        <div class="goodsListBox">
                        	<div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg05.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="goodsList">
                            	<div><a href="goods_view.html" title=""><img src="images/testimg06.jpg" alt="" /></a></div>
                                <div class="goodsName"><a href="goods_view.html" title="">英倫小情人洋裝</a></div>
                                <div class="price">原價：<del>3200 元</del></div>
                                <div class="offer">特價：1200 元</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- page -->
            			<div class="pager" align="center"><a href="#" title="上一頁"><img src="images/pre_out.gif" alt="上一頁" class="img_change" align="absmiddle" /></a><span class="current">1</span><a href="#" title="2">2</a><a href="#" title="3">3</a><a href="#" title="4">4</a><a href="#" title="5">5</a><a href="#" title="6">6</a><a href="#" title="7">7</a><a href="#" title="8">8</a><a href="#" title="9">9</a><a href="#" title="10">10</a><a href="#" title="下一頁"><img src="images/next_out.gif" alt="下一頁" class="img_change" align="absmiddle" /></a></div>
            			<!-- page end -->
                    </div>
                    <!-- right end -->
                    <div class="clear"></div>
{% endblock %}