{% extends "base.html" %}
{% block content %}
<div id="left">
    <div><img src="images/lefttitle07.gif" alt=""/></div>
    <div class="leftMenu">
        {% for item in menu_list %}
        {% if item.is_select %}<div class="menu_1"><span>{{ item.menu_name }}</span></div><div class="lineD"></div>{% else %}<div class="menu_1"><a href="{{ item.link }}" title="{{ item.menu_name }}">{{ item.menu_name }}</a></div><div class="lineD"></div>{% endif %}
        {% endfor %}
    </div>
    <div class="leftLink">
        <a href="foreign_form.html" title="韓國市集代購"><img src="images/leftlink02_out.gif" alt="" class="img_change"/></a>
        <a href="login.html" title="會員專區"><img src="images/leftlink01_out.gif" alt="" class="img_change"/></a>
        <a href="sellform.html" title="誠徵經銷"><img src="images/leftlink03_out.gif" alt="" class="img_change"/></a>
    </div>
    <div><img src="images/service.gif" alt=""/></div>
    <div class="serviceInfo">
        E-Mail：<br/>
        <a href="mailto:service@yamiyami.com.tw" title="E-Mail">service@yamiyami.com.tw</a><br/><br/>
        營業時間：<br/>(一) ~ (六) AM 10:30 - PM 8:00
    </div>
    <div><img src="images/qr.gif" alt=""/></div>
</div>


                <div id="right">
                	<!-- 當前位置 -->
                	<div class="side"><img src="images/icon03.gif" align="absmiddle">&nbsp;<a href="./" title="">Home</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="login.html" title="">會員專區</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<span>修改密碼</span></div>
                	<!-- 當前位置 end -->
                    <div class="rightCommon">
                    
                    	<div class="text">密碼應定期更新，重新設定新密碼後，舊密碼即失效！</div>
                    <div class="lineD mB20"></div>
                    <div class="memberBg">
                    <table cellpadding="0" cellspacing="0" border="0" width="737" class="gbForm">
                    	<tr>
                        	<th width="147">舊密碼</th>
                            <td class="textA"><input type="text" value="" class="input02 w200" />&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;請輸入您的舊密碼，如忘記密碼請先<a href="password.html" title="">至此查詢</a></td>
                    	</tr>
                        <tr>
                        	<th>新密碼</th>
                            <td><input type="text" value="" class="input02 w200" />&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;請輸入6位元以上數字或字母的組合</td>
                        </tr>
                        <tr>
                        	<th>新密碼確認</th>
                            <td><input type="text" value="" class="input02 w200" />&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;請再次輸入密碼</td>
                        </tr>
                        <tr>
                        	<th>驗證碼</th>
                            <td><input type="text" value="" class="input02 w80" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/code.png" alt="" align="absmiddle" /></td>
                        </tr>
                    </table>
                    </div>
                    <div class="lineD"></div>
                    <div class="mTB" align="center"><a href="#" title=""><img src="images/submit_out.gif" alt="" class="img_change" /></a></div>
                    
                    <div><img src="images/memberimg.gif" alt="" /></div>
                        
                    </div>
                </div>
{% endblock %}