{% extends "base.html" %}
{% block content %}
<div id="left">
    <div><img src="images/lefttitle07.gif" alt=""/></div>
    <div class="leftMenu">
        {% for item in menu_list %}
        {% if item.is_select %}<div class="menu_1"><span>{{ item.menu_name }}</span></div><div class="lineD"></div>{% else %}<div class="menu_1"><a href="{{ item.link }}" title="{{ item.menu_name }}">{{ item.menu_name }}</a></div><div class="lineD"></div>{% endif %}
        {% endfor %}
    </div>
    <div class="leftLink">
        <a href="foreign_form.html" title="韓國市集代購"><img src="images/leftlink02_out.gif" alt="" class="img_change"/></a>
        <a href="login.html" title="會員專區"><img src="images/leftlink01_out.gif" alt="" class="img_change"/></a>
        <a href="sellform.html" title="誠徵經銷"><img src="images/leftlink03_out.gif" alt="" class="img_change"/></a>
    </div>
    <div><img src="images/service.gif" alt=""/></div>
    <div class="serviceInfo">
        E-Mail：<br/>
        <a href="mailto:service@yamiyami.com.tw" title="E-Mail">service@yamiyami.com.tw</a><br/><br/>
        營業時間：<br/>(一) ~ (六) AM 10:30 - PM 8:00
    </div>
    <div><img src="images/qr.gif" alt=""/></div>
</div>


                <div id="right">
                	<!-- 當前位置 -->
                	<div class="side"><img src="images/icon03.gif" align="absmiddle">&nbsp;<a href="./" title="">Home</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="login.html" title="">會員專區</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<span>忘記密碼</span></div>
                	<!-- 當前位置 end -->
                    <div class="rightCommon">
                    	<div class="memberBg">
                    		<div class="text">輸入會員帳號送出後，系統將自動產生新密碼到您所註冊的信箱</div>
                        	<div class="lineD"></div>
                        	<table cellpadding="0" cellspacing="0" border="0" width="776" class="gbForm">
                    			<tr>
                        			<th width="158">電子信箱</th>
                            		<td><input type="text" value="" class="input02 w200" /></td>
                        		</tr>
                            	<tr>
                        			<th>驗證碼</th>
                            		<td><input type="text" value="" class="input02 w80" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/code.png" alt="" align="absmiddle" /></td>
                        		</tr>
                    		</table>
                            <div class="lineD mTB"></div>
                        	<div align="center"><a href="#" title=""><img src="images/submit_out.gif" alt="" class="img_change" /></a></div>
                    	</div>
                    	<div class="passwordText">
                    		<div class="text">第一次光臨，還沒成為會員嗎?!</div>
                        	<div class="lineD"></div>
                        	<div class="passwordText">您可以至<a href="join.html" title="">加入會員</a>中加入，也可直接前往<a href="goods_list.html" title="">購物</a>，在結帳的時填寫訂單資料，系統將自動為您升級成為會員。<br /><br />加入會員後我們將提供您更多服務以及優惠價格。</div>
                    	</div>
                    	<div class="clear"></div>
                        <div><img src="images/memberimg.gif" alt="" /></div>
                        
                    </div>
                </div>
{% endblock %}