{% extends "base.html" %}
{% block content %}
<div id="left">
    <div><img src="images/lefttitle07.gif" alt=""/></div>
    <div class="leftMenu">
        {% for item in menu_list %}
        {% if item.is_select %}<div class="menu_1"><span>{{ item.menu_name }}</span></div><div class="lineD"></div>{% else %}<div class="menu_1"><a href="{{ item.link }}" title="{{ item.menu_name }}">{{ item.menu_name }}</a></div><div class="lineD"></div>{% endif %}
        {% endfor %}
    </div>
    <div class="leftLink">
        <a href="foreign_form.html" title="韓國市集代購"><img src="images/leftlink02_out.gif" alt="" class="img_change"/></a>
        <a href="login.html" title="會員專區"><img src="images/leftlink01_out.gif" alt="" class="img_change"/></a>
        <a href="sellform.html" title="誠徵經銷"><img src="images/leftlink03_out.gif" alt="" class="img_change"/></a>
    </div>
    <div><img src="images/service.gif" alt=""/></div>
    <div class="serviceInfo">
        E-Mail：<br/>
        <a href="mailto:service@yamiyami.com.tw" title="E-Mail">service@yamiyami.com.tw</a><br/><br/>
        營業時間：<br/>(一) ~ (六) AM 10:30 - PM 8:00
    </div>
    <div><img src="images/qr.gif" alt=""/></div>
</div>


                <div id="right">
                	<!-- 當前位置 -->
                	<div class="side"><img src="images/icon03.gif" align="absmiddle">&nbsp;<a href="./" title="">Home</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<a href="login.html" title="">會員專區</a>&nbsp;&nbsp;<img src="images/icon04.gif" align="absmiddle">&nbsp;&nbsp;<span>問題回覆</span></div>
                	<!-- 當前位置 end -->
                    <div class="rightCommon">
                    <div class="lineD"></div>
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="orderTitle">
                    	<tr>
                        	<th width="300">商品資訊</th>
                            <th width="135">數量</th>
                            <th width="124">顏色</th>
                            <th width="110">尺寸</th>
                            <th width="107">價格</th>
                        </tr>
                    </table>
                    <div class="lineD"></div>
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="orderList">
                    	<tr>
                        	<td width="300">
                            	<table cellpadding="0" cellspacing="0" border="0" align="center">
                                	<tr>
                            			<td><img src="images/testimg07.jpg" alt="" width="80" /></td>
                                		<td height="58" align="left">產品型號：004041151 <br /><span>英倫小情人洋裝</span></td>
                            		</tr>
                                </table>
                            </td>
                            <td width="135">1</td>
                            <td width="124">黑色</td>
                            <td width="111">6x</td>
                            <td width="106">74635 元</td>
                        </tr>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="reQues">
                    	<tr>
                        	<td width="30" valign="top"><img src="images/icon05.gif" alt="" /></td>
                            <td width="709">是說我剛開始保養就開始用牛爾老師的保養品了 到現在都很相信老師研發的保養品 持續用能讓肌膚保持穩定 還慢慢的變更好 這次活動試辦在 寒舍艾美酒店 去了這麼多次NARUKO的發表會 這次牛爾老師終於要蒞臨現場了 耶~~可以看到牛爾老師本人了啦!!!</td>
                        </tr>
                        <tr class="bgColor">
                        	<td valign="top"><img src="images/icon06.gif" alt="" /></td>
                            <td>果真顏色是一系列的啊! 夏天好適合放在桌上 看了都涼快起來了 這次的新品除了 蘋果籽傳明酸淡斑撫紋系列之外 還有am+pm skincare的兩支新品 是說我用過之後有私心愛上這兩支XD
今天也會有試用分享跟大家說 是說這次我提早半個小時就到會場了 整個超敬業的你看看XD 結果進場之後沒有幾個人 我就一個人到處拍拍 畢竟這種場合 都只有我一個男生部落客 其他都是女生 每次都是這樣唷 然後都不知道要怎麼跟女生開口聊天說</td>
                        </tr>
                    </table>
                    
                    <div class="lineD"></div>
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="orderTitle">
                    	<tr>
                        	<th>韓國市集代購圖片</th>
                        </tr>
                    </table>
                    <div class="lineD"></div>
                    <div class="uploadImgBox">
                    	<div class="uploadImg"><img src="images/testimg07.jpg" alt="" width="80" /></div>
                    	<div class="uploadImg"><img src="images/testimg07.jpg" alt="" width="80" /></div>
                    	<div class="uploadImg"><img src="images/testimg07.jpg" alt="" width="80" /></div>
                    	<div class="uploadImg"><img src="images/testimg07.jpg" alt="" width="80" /></div>
                    	<div class="uploadImg"><img src="images/testimg07.jpg" alt="" width="80" /></div>
                        <div class="uploadImg"><img src="images/testimg07.jpg" alt="" width="80" /></div>
                        <div class="uploadImg"><img src="images/testimg07.jpg" alt="" width="80" /></div>
                        <div class="clear"></div>
                    </div>
                    
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="reQues">
                    	<tr>
                        	<td width="30" valign="top"><img src="images/icon05.gif" alt="" /></td>
                            <td width="709">是說我剛開始保養就開始用牛爾老師的保養品了 到現在都很相信老師研發的保養品 持續用能讓肌膚保持穩定 還慢慢的變更好 這次活動試辦在 寒舍艾美酒店 去了這麼多次NARUKO的發表會 這次牛爾老師終於要蒞臨現場了 耶~~可以看到牛爾老師本人了啦!!!</td>
                        </tr>
                        <tr class="bgColor">
                        	<td valign="top"><img src="images/icon06.gif" alt="" /></td>
                            <td>果真顏色是一系列的啊! 夏天好適合放在桌上 看了都涼快起來了 這次的新品除了 蘋果籽傳明酸淡斑撫紋系列之外 還有am+pm skincare的兩支新品 是說我用過之後有私心愛上這兩支XD
今天也會有試用分享跟大家說 是說這次我提早半個小時就到會場了 整個超敬業的你看看XD 結果進場之後沒有幾個人 我就一個人到處拍拍 畢竟這種場合 都只有我一個男生部落客 其他都是女生 每次都是這樣唷 然後都不知道要怎麼跟女生開口聊天說</td>
                        </tr>
                    </table>
                    
                    <div class="lineD"></div>
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="orderTitle">
                    	<tr>
                        	<th width="300">商品資訊</th>
                            <th width="135">數量</th>
                            <th width="124">顏色</th>
                            <th width="110">尺寸</th>
                            <th width="107">價格</th>
                        </tr>
                    </table>
                    <div class="lineD"></div>
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="orderList">
                    	<tr>
                        	<td width="300">
                            	<table cellpadding="0" cellspacing="0" border="0" align="center">
                                	<tr>
                            			<td><img src="images/testimg07.jpg" alt="" width="80" /></td>
                                		<td height="58" align="left">產品型號：004041151 <br /><span>英倫小情人洋裝</span></td>
                            		</tr>
                                </table>
                            </td>
                            <td width="135">1</td>
                            <td width="124">黑色</td>
                            <td width="111">6x</td>
                            <td width="106">74635 元</td>
                        </tr>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" border="0" width="776" class="reQues">
                    	<tr>
                        	<td width="30" valign="top"><img src="images/icon05.gif" alt="" /></td>
                            <td width="709">是說我剛開始保養就開始用牛爾老師的保養品了 到現在都很相信老師研發的保養品 持續用能讓肌膚保持穩定 還慢慢的變更好 這次活動試辦在 寒舍艾美酒店 去了這麼多次NARUKO的發表會 這次牛爾老師終於要蒞臨現場了 耶~~可以看到牛爾老師本人了啦!!!</td>
                        </tr>
                        <tr class="bgColor">
                        	<td valign="top"><img src="images/icon06.gif" alt="" /></td>
                            <td>果真顏色是一系列的啊! 夏天好適合放在桌上 看了都涼快起來了 這次的新品除了 蘋果籽傳明酸淡斑撫紋系列之外 還有am+pm skincare的兩支新品 是說我用過之後有私心愛上這兩支XD
今天也會有試用分享跟大家說 是說這次我提早半個小時就到會場了 整個超敬業的你看看XD 結果進場之後沒有幾個人 我就一個人到處拍拍 畢竟這種場合 都只有我一個男生部落客 其他都是女生 每次都是這樣唷 然後都不知道要怎麼跟女生開口聊天說</td>
                        </tr>
                    </table>
                    </div>
                    <!-- page -->
            		<div class="pager" align="center"><a href="#" title="上一頁"><img src="images/pre_out.gif" alt="上一頁" class="img_change" align="absmiddle" /></a><span class="current">1</span><a href="#" title="2">2</a><a href="#" title="3">3</a><a href="#" title="4">4</a><a href="#" title="5">5</a><a href="#" title="6">6</a><a href="#" title="7">7</a><a href="#" title="8">8</a><a href="#" title="9">9</a><a href="#" title="10">10</a><a href="#" title="下一頁"><img src="images/next_out.gif" alt="下一頁" class="img_change" align="absmiddle" /></a></div>
            		<!-- page end -->
                </div>
{% endblock %}